.weather-icon {
  display: inline-flex;
  transition: transform 0.2s ease;
}
/* Kích thước */
.weather-icon.small ion-icon {
  font-size: 20px;
}

.weather-icon.medium ion-icon {
  font-size: 36px;
}

.weather-icon.large ion-icon {
  font-size: 48px;
}

/* Màu sắc */
.weather-icon.orange ion-icon {
  color: #ffa500;
}

.weather-icon.blue ion-icon {
  color: #4285f4;
}

.weather-icon.gray ion-icon {
  color: #666666;
}

.weather-icon.white ion-icon {
  color: #ffffff;
}

/* Hiệu ứng hover */
.weather-icon:hover ion-icon {
  transform: scale(1.1);
  transition: transform 0.2s ease;
}

@media (min-width: 768px) {
  .weather-icon.small ion-icon {
    font-size: 24px;
  }

  .weather-icon.medium ion-icon {
    font-size: 48px;
  }

  .weather-icon.large ion-icon {
    font-size: 64px;
  }
}
