@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --mobile-breakpoint: 768px;
  --tablet-breakpoint: 992px;
  --primary-color: rgb(33, 166, 232);
  --secondary-color: rgb(45, 171, 243);
  --text-color: white;
  --card-bg: rgba(255, 255, 255, 0.25);
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-image: radial-gradient(
    circle 382px at 50% 50.2%,
    var(--primary-color) 0.1%,
    var(--secondary-color) 100.2%
  );
  color: var(--text-color);
}

body::-webkit-scrollbar {
  display: none;
}

@keyframes slide-up {
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-right {
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-down {
  100% {
    transform: translateY(-50%);
    opacity: 1;
  }
}

@keyframes zoom-in {
  100% {
    transform: scale(1);
    opacity: 1;
  }
}


